.header {
    border-bottom: 1px solid #ccc;
    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .main-header__left {
            .header-logo {
                max-width: 120px;
                display: block;
                z-index: 12;
            }
            > ul {
                padding: 0 15px;
                display: flex;
                flex-wrap: wrap;
                > li {
                    list-style: none;
                    padding-right: 8px;
                    > a {
                        font-weight: 800;
                        letter-spacing: 0;
                        line-height: 1.2;
                        text-transform: uppercase;
                        font-size: 12px;
                        display: block;
                        padding: 8px;
                    }
                    &:hover > ul {
                        visibility: visible;
                        transform: translate3d(0, 0px, 0);
                        z-index: 10;
                    }
                }
                .hazo-mega-menu {
                    > ul {
                        position: absolute;
                        width: 100%;
                        height: auto;
                        left: 0;
                        top: 100%;
                        padding: 20px 0;
                        background-color: #fff;
                        visibility: hidden;
                        z-index: 10;
                        transition: all 0.3s cubic-bezier(0.2, 0.06, 0.05, 0.95);
                        transform: translate3d(0, -12px, 0);
                        .container {
                            .row {
                                justify-content: center;
                                > li {
                                    list-style: none;
                                    margin-bottom: 25px;
                                    > a {
                                        color: #4a4a4a;
                                        font-weight: 800;
                                        display: block;
                                        padding: 8px 0px;
                                        margin-bottom: 10px;
                                        position: relative;
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            left: 0;
                                            bottom: 0;
                                            width: 27px;
                                            height: 3px;
                                            background-color: #ffdb00;
                                        }
                                        &:hover {
                                            background-color: #f2f2f2;
                                            text-decoration: underline;
                                        }
                                    }
                                    > ul {
                                        // margin-top: 30px;
                                        > li {
                                            list-style: none;
                                            position: relative;
                                            a {
                                                font-size: 15px;
                                                font-weight: 500;
                                                padding: 1px 0;
                                                text-transform: uppercase;
                                                display: block;
                                            }
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                            .bgc-title {
                                                position: absolute;
                                                position: absolute;
                                                top: 0;
                                                padding: 40px;
                                                color: #fff;
                                                > h2 {
                                                    font-size: 30px;
                                                    line-height: 40px;
                                                    margin-bottom: 20px;
                                                    font-weight: 700;
                                                }
                                                > p {
                                                    font-size: 21px;
                                                    font-weight: lighter;
                                                    line-height: 23px;
                                                    padding-bottom: 25px;
                                                }
                                                .bgc-title__btn {
                                                    background-color: #fdca21;
                                                    font-size: 12px;
                                                    font-weight: 700;
                                                    display: block;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    width: 140px;
                                                    height: 40px;
                                                    border-radius: 30px;
                                                    font-size: 12px;
                                                    color: #4a4a4a;
                                                    line-height: 12px;
                                                    text-align: center;
                                                    text-transform: uppercase;
                                                }
                                            }
                                        }
                                    }
                                    >span{
                                        display: inline-block;
                                        width: 50px;
                                        height: 60px;
                                        float: left;
                                        margin-right: 20px;
                                    }
                                    >div{
                                        display: inline-block;
                                        max-width: 60%;
                                        font-size: 16px;
                                        >strong{
                                            font-weight: 800;
                                        }
                                        >a{
                                            text-transform: uppercase;
                                            font-size: 16px;
                                            font-weight: 800;
                                            border-bottom: 3px solid;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
        .header-icon__right {
            display: flex;
            a {
                width: 24px;
                height: 24px;
                display: inline-block;
                margin: 0 12px;
            }
        }
    }
}

.header-active {
    animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 0px -2px 10px 0px #807474;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2222;
    background-color: #fff;
}
@media screen and (min-width: 769px) {
    .header .main-header .header-icon__right {
        .header-icon__menu {
            display: none;
        }
    }
    .header .main-header .header-icon__right {
        .header-icon__use {
            display: block;
        }
    }
}
@media screen and (max-width: 768px) {
    .header .main-header .header-icon__right {
        .header-icon__menu {
            display: block;
        }
    }
    .header .main-header .header-icon__right {
        .header-icon__use {
            display: none;
        }
    }
    .header .main-header .main-header__left > ul {
        display: none;
    }
}
.menu-mobile {
    position: fixed;
    top: 0;
    right: -140%;
    background-color: #fff;
    z-index: 999;
    width: 400px;
    padding: 40px;
    transition: 0.5s ease;
    transition-property: right;
    overflow-y: auto;
    max-height: 1000px;
    > ul {
        margin-top: 50px;
        > li {
            list-style: none;
            > a {
                letter-spacing: 0;
                line-height: 1.6;
                font-weight: 400;
                padding: 10px 0;
                font-size: 14px;
                display: block;
            }
        }
        > .menu-item-has-children {
            position: relative;
            .li-rotate {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='12px' height='12px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
                position: absolute;
                right: 6px;
                top: 14px;
                transform: rotate(0);
            }
            .rotate {
                transform: rotate(180deg);
            }
            > ul {
                display: none;
                padding-left: 20px;
                > li {
                    list-style: none;
                    position: relative;
                    > a {
                        letter-spacing: 0;
                        line-height: 1.6;
                        font-weight: 400;
                        padding: 10px 0;
                        font-size: 14px;
                        display: block;
                    }
                    .li-plus {
                        position: absolute;
                        content: url("data:image/svg+xml,%3Csvg height='10' viewBox='0 0 426.66667 426.66667' width='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0'/%3E%3C/svg%3E");
                        right: 0px;
                        padding: 5px;
                        top: 10px;
                        display: inline-block;
                        border: 1px solid #e8e8e1;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        text-align: center;
                    }
                    .li-plus.sub {
                        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='15' height='15' viewBox='0 0 121.805 121.804' style='enable-background:new 0 0 121.805 121.804;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M7.308,68.211h107.188c4.037,0,7.309-3.272,7.309-7.31c0-4.037-3.271-7.309-7.309-7.309H7.308 C3.272,53.593,0,56.865,0,60.902C0,64.939,3.272,68.211,7.308,68.211z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
                    }

                    > ul {
                        display: none;
                        > li {
                            list-style: none;
                            > a {
                                letter-spacing: 0;
                                line-height: 1.6;
                                font-weight: 400;
                                padding: 10px 25px 10px 40px;
                                font-size: 14px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
.menu-mobile > ul > .menu-item-has-children > ul > li .li-plus.sub {
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='15' height='15' viewBox='0 0 121.805 121.804' style='enable-background:new 0 0 121.805 121.804;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M7.308,68.211h107.188c4.037,0,7.309-3.272,7.309-7.31c0-4.037-3.271-7.309-7.309-7.309H7.308 C3.272,53.593,0,56.865,0,60.902C0,64.939,3.272,68.211,7.308,68.211z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    right: 0px;
    padding: 5px;
    top: 10px;
    display: inline-block;
    border: 1px solid #e8e8e1;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
}

.active_mobile {
    right: 0%;
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4a4a4a;
    opacity: 0.6;
    z-index: 30;
    display: none;
    transition: 0.5s ease;
}
.overlay-block {
    display: block;
}
.menu-mobile .menu-mobile__close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
    top: 60px;
    margin: 0 10px;
}
